<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>FoxRoll</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="images/favicon.ico">

  <!-- stylesheets -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='scss/bootstrap/bootstrap.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/theme.min.css') }}" />

  <!-- javascript -->
  <!-- <script src="dist/theme.min.js"></script> -->
  <script src="{{ url_for('static', filename='dist/theme.min.js') }}"></script>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div class="navbar navbar-dark navbar-expand-lg" role="banner">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="{{ url_for('static', filename='images/foxgrowth-logo-light.png') }}" class="mr-2 img-fluid" />
        FoxRoll
      </a>

      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse">
        <ul class="navbar-nav">
          <!-- <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              Blog
              <i class="ion-chevron-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="blog.html">Blog</a>
              <a class="dropdown-item" href="blog-cols.html">Blog cols</a>
              <a class="dropdown-item" href="blog-timeline.html">Blog timeline</a>
              <a class="dropdown-item" href="blogpost.html">Blog Post</a>
            </div>
          </li> -->
          <li class="nav-item">
            <a href="https://www.foxgrowth.com/blog/index.html" class="nav-link ">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% if success %}
  <div class="alert alert-success" role="alert" id="success-alert">
    <strong>Well done!</strong> Sending data to segment was successful.
  </div>
{% endif %}

{% if data_parsed_successfully %}
<div class="alert alert-info" role="alert">
  <strong>Good news!</strong> file was processed successfully.
</div>
{% endif %}

  <div class="pricing-tabs-section">
    <div class="container">
      <div class="header">
        <h3>Welcome to FoxRoll ETL</h3>
        <p>Service for piping your CSV data into Segment</p>
      </div>

      <div class="tabs">
        <!-- TODO: Rename tabs from monthly/anually to s3/csv -->
        <div class="tab monthly active" id="tab-csv" onClick="makeCsvActive()">
          <span>Use CSV</span>
        </div>
        <div class="tab anually" id="tab-s3" onClick="makeS3Active()">
          <span>
            Use S3
            <small>Requires access</small>
          </span>
        </div>
      </div>
      <div class="plans">
        <div class="row">
          <div class="plan col-md-12">
            <div class="header">
              <span class="icon ion-ios-upload-outline"></span>
              <div class="price" data-monthly="Upload your CSV" data-anually="Use FoxRoll S3 Bucket">
                Upload your CSV
              </div>
            </div>
            <div class="specs">
              {% if not data_parsed_successfully and not success %}
                <form id="uploadFile"  method=post enctype=multipart/form-data action="/">
                  <div id="uploadCsvFile_div"  style="display:block">
                  <label for="uploadFile"></label>
                  <input type=file name="uploadFile" aria-describedby="fileHelp" style="padding-left:12%;"onchange=processFile()>
                   <small id="fileHelp" class="form-text text-muted">Make sure you are uploading a .csv file.</small>
                   </div>
                </form>
              {% else %}
                <div class="spec">
                  File uploaded!
                  <br></br>
                  Rows detected: <span class="variable">{{ csv_row_count }}</span>
                </div>
              {% endif %}

              <div id="uploadS3File_div" style="display:none">
                <form method="POST" action="/" id="s3-form">
                <div>
                  <label for="s3_csv_file">Name of file in S3: </label>
                  <!-- add validation -->
                  <input type="text" id="s3_csv_file" name="s3_csv_file" placeholder="my_data.csv" value={{ s3_csv_file if s3_csv_file else "" }} >
                  <button>Use S3 Bucket</button>
                  <small id="s3Help" class="form-text text-muted">Make sure you have access to the foxroll s3 bucket. Contact us if you need access.</small>
                </div>
                </form>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container col-md-6 ">
    <form method="POST" id="segment-form" action="/segment_api_call">
    <div class="form-group">
      <label for="segment_write_key">Segment Write Key: </label>
      <input type="text" id="segment_write_key" name="segment_write_key"   class="form-control" aria-describedby="segmentWriteKey" placeholder="Enter Segment Write Key" required value={{ segment_write_key if segment_write_key else "" }}>
      <small id="segmentWriteKeyHelp" class="form-text text-muted">Go to your segment.io account settings to get your write key.</small>
    </div>

     <div class="form-group">
      <label for="user_id_header">What is the column header for the user id? </label>
      <select name="user_id_header" class="form-control" id="user_id_header">
        {% for header in csv_output[0] %}
          <option value={{header}}
          {% if header == user_id_header %}
            selected
          {% endif %}
          >{{header}}</option>
        {% endfor %}
        <!-- removing this hidden checkbox breaks the html below it, not sure why. -->
       <input type="hidden" id="s3_bucket_checked" name="s3_bucket_checked" required value={{ is_checked }} >
      <small id="emailHelp" class="form-text text-muted">Select from the options available.</small>
    </div>
  </div>

{% if data_parsed_successfully or success %}
<div class="container-preview-table col-md-12">
  <div class="header">
    <h3>Preview Your Data</h3>
    <p>Please check for accuracy!</p>
  </div>
{% endif %}

  <table class="table">
    {% if csv_output %}
      <thead>
        <tr>
          {% for header in csv_output[0] %}
          <th style="text-align:center">{{header}}</th>
          {% endfor %}
          <!-- <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th> -->
          <!-- Preview 25 rows of data. -->
          {% for row_data in csv_output[:25] %}
            <tr>
            {% for value in row_data.values() %}
              <td style="text-align:center">{{ value }}</td>
            {% endfor %}
            </tr>
          {% endfor %}
        {% endif %}
        </tr>
      </thead>
      <tbody>
    </tbody>
  </table>
</div>

{% if data_parsed_successfully %}
<div class="container-signup col-md-12">
  <div class="signup ">
      <button class="btn-shadow btn-shadow-success btn-shadow-lg" form="segment-form">Send Data to Segment</button>
      <div class="message">
        Please test on a segment instance first. Once data is written to segment we can't alter.
      </div>
  </div>
</div>
{% endif %}


  <div class="pricing-comparison-section">
    <div class="container">
      <div class="divider"></div>
      {% if data_parsed_successfully %}
      <div class="main-header">
        <h3>Data Quality Check (beta)</h3>
        <p>
          We ran some tests on your file
        </p>
      </div>

      <div class="chart clearfix d-flex align-items-stretch">
        <div class="features-col">
          <div class="header">
            Test Type
          </div>
          <div class="spec" id="file_type">
            <span class="icon brankic-pictures3"></span>
            File type
          </div>
          <div class="spec" id="column_consistency">
            <span class="icon brankic-loop"></span>
            Data Type Consistency
          </div>
          <div class="spec" id="empty_column">
            <span class="icon brankic-key"></span>
            Empty Columns
          </div>


        </div>
        <div class="plan-col d-flex flex-column align-items-stretch">
          <div class="header">
            Test pass or fail
            <div class="price">
              Result
            </div>
          </div>
          <div class="spec" id="file_type">
            <img src="{{ url_for('static', filename='images/checkmark.png') }}" class="check" alt="checkmark" />
          </div>
          <div class="spec" id="column_consistency">
              {% if is_column_consistent %}
                <img src="{{ url_for('static', filename='images/checkmark.png') }}" class="check" alt="checkmark" />
              {% else %}
                  <img src="{{ url_for('static', filename='images/icon_important.png') }}" class="check" alt="alert" />
              {% endif %}
          </div>
          <div class="spec" id="empty_column">
              {% if not has_empty_column %}
                <img src="{{ url_for('static', filename='images/checkmark.png') }}" class="check" alt="checkmark" />
              {% else %}
                  <img src="{{ url_for('static', filename='images/icon_important.png') }}" class="check" alt="alert" />
              {% endif %}
          </div>
        </div>
      </div>
      {% endif %}

      <!-- <div class="message">
        All of our plans come with a 30 day trial with no credit card required, we also offer a <a href="signup.html">free plan</a>.
      </div> -->

      <div class="faq">
        <div class="header">
          <h3>Frequently Asked Questions</h3>
        </div>
        <div class="questions">
          <div class="row">
            <div class="col-md-6">
              <div class="question">
                <strong>Should this work right away?</strong>
                <p>
                  Yup, api calls to segment are instant.
                </p>
              </div>

            </div>
            <div class="col-md-6">
              <div class="question">
                <strong>Can I cancel at anytime?</strong>
                <p>
                  No, never. This is for life.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

   <div class="footer">
    <div class="container">
      <div class="credits">
        <p>Copyright © 2018. FoxGrowth</p>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(function () {
      // enables the pricing tabs
      $tabs = $(".pricing-tabs-section .tab");
      $prices = $(".pricing-tabs-section .price");

      $tabs.click(function () {
        $tabs.removeClass("active");
        $(this).addClass("active");
        var dataPrice = $(this).hasClass("monthly") ? "monthly" : "anually";
        $prices.each(function (index, el) {
          $(el).html($(el).data(dataPrice));
        });
      });
    });
  </script>
</body>
</html>
