<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>FoxRoll</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="images/favicon.ico">

  <!-- stylesheets -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='scss/bootstrap/bootstrap.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/theme.min.css') }}" />

  <!-- javascript -->
  <!-- <script src="dist/theme.min.js"></script> -->
  <script src="{{ url_for('static', filename='dist/theme.min.js') }}"></script>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div class="navbar navbar-dark navbar-expand-lg" role="banner">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="{{ url_for('static', filename='images/logo-light.png') }}" class="mr-2 img-fluid" />
        FoxRoll
      </a>

      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
              Blog
              <i class="ion-chevron-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="blog.html">Blog</a>
              <a class="dropdown-item" href="blog-cols.html">Blog cols</a>
              <a class="dropdown-item" href="blog-timeline.html">Blog timeline</a>
              <a class="dropdown-item" href="blogpost.html">Blog Post</a>
            </div>
          </li>
          <li class="nav-item">
            <a href="docs/intro.html" class="nav-link nav-link--rounded">Docs</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <script>
  function makeCsvActive() {
    var uploadCsvDiv = document.getElementById("uploadCsvFile_div");
    var uploads3Div = document.getElementById("uploadS3File_div");

    uploadCsvDiv.style.display = "block"
    uploads3Div.style.display = "none"
  }

  function makeS3Active() {
    var uploadCsvDiv = document.getElementById("uploadCsvFile_div");
    var uploads3Div = document.getElementById("uploadS3File_div");

    uploadCsvDiv.style.display = "none"
    uploads3Div.style.display = "block"
  }
  </script>

  <div class="pricing-tabs-section">
    <div class="container">
      <div class="header">
        <h3>Welcome to FoxRoll ETL</h3>
        <p>Service for piping your CSV data into Segment</p>
      </div>

      <div class="tabs">
        <div class="tab monthly active" onClick="makeCsvActive()">
          <span>Use CSV</span>
        </div>
        <div class="tab anually" onClick="makeS3Active()">
          <span>
            Use S3
            <small>Requires access</small>
          </span>
        </div>
      </div>
      <div class="plans">
        <div class="row">
          <div class="plan col-md-12">
            <div class="header">
              <span class="icon entypo-user"></span>
              <div class="price" data-monthly="Upload your CSV" data-anually="Use FoxRoll S3 Bucket">
                Upload your CSV
              </div>
            </div>
            <div class="specs">
              <!-- <div class="spec">
                <span class="variable">CSV</span> team member
              </div> -->
              <div class="price" data-monthly="Upload your properly formatted CSV" data-anually="Upload your properly formatted csv to foxroll's S3 Bucket">
                <p>Upload your properly formatted CSV</p>
              </div>
              <div id="uploadCsvFile_div" style="display:block">
                <form id="uploadFile" method=post enctype=multipart/form-data action="/">
                  <!-- <label for="uploadFile">Upload CSV file: </label> -->
                  <input type=file name="uploadFile" onchange=processFile()>
                </p>
                </form>
              </div>

              <div id="uploadS3File_div" style="display:none">
                <form method="POST" action="/">
                <div>
                  <label for="s3_csv_file">Name of csv file.</label>
                  <input type="text" id="s3_csv_file" name="s3_csv_file" required value={{ s3_csv_file if s3_csv_file else "" }} >
                  <!-- <div>
                    <p>Click the checkmark to use S3 Bucket:
                  <input id="s3_bucket" name="s3_bucket" type="checkbox"
                  {% if is_checked  %}}
                    checked="true"
                  {% endif %}
                  >
                  </p>
                  </div> -->

                  <!-- <button>Use S3 Bucket</button> -->

                </div>
                </form>
              </div>
            </div>
          </div>

          </div>
        </div>
      </div>
      <div class="signup">
        <a href="signup.html" class="btn-shadow btn-shadow-success btn-shadow-lg">
          Send Data to Segment
        </a>
        <div class="message">
          Please test on a segment instance first. Once data is written to segment we can't alter.
        </div>
      </div>
    </div>
  </div>

  <div class="pricing-comparison-section">
    <div class="container">
      <div class="divider"></div>

      <div class="main-header">
        <h3>Comparison charts</h3>
        <p>
          When you need to compare your plans or competitors
        </p>
      </div>

      <div class="chart clearfix d-flex align-items-stretch">
        <div class="features-col">
          <div class="header">
            Features
          </div>
          <div class="spec">
            <span class="icon brankic-calendar2"></span>
            Sync across all your devices
          </div>
          <div class="spec">
            <span class="icon brankic-loop"></span>
            Recurring Billing
          </div>
          <div class="spec">
            <span class="icon brankic-phone"></span>
            Online terminal included
          </div>
          <div class="spec">
            <span class="icon brankic-locked"></span>
            Complete products catalog
          </div>
          <div class="spec">
            <span class="icon brankic-key"></span>
            Deployment with ssh keys
          </div>
          <div class="spec">
            <span class="icon brankic-pictures3"></span>
            Add files and photos from email
          </div>
          <div class="spec last">
            <span class="icon brankic-envelope"></span>
            Get daily email notifications
          </div>
        </div>
        <div class="plan-col d-flex flex-column">
          <div class="header">
            Solo Plan
            <div class="price">
              $15/mo
            </div>
          </div>
          <div class="spec">
            <img src="images/checkmark.png" class="check" alt="checkmark" />
          </div>
          <div class="spec">
            <img src="images/checkmark.png" class="check" alt="checkmark" />
          </div>
          <div class="spec">
            <img src="images/checkmark.png" class="check" alt="checkmark" />
          </div>

          <a href="signup.html" class="btn-shadow btn-shadow-success align-self-center mt-auto">Sign up free</a>
        </div>
        <div class="plan-col d-flex flex-column">
          <div class="header">
            Team Plan
            <div class="price">
              $49/mo
            </div>
          </div>
          <div class="spec">
            <img src="images/checkmark.png" class="check" alt="checkmark" />
          </div>
          <div class="spec">
            <img src="images/checkmark.png" class="check" alt="checkmark" />
          </div>
          <div class="spec">
            <img src="images/checkmark.png" class="check" alt="checkmark" />
          </div>
          <div class="spec">
            <img src="images/checkmark.png" class="check" alt="checkmark" />
          </div>
          <div class="spec">
            <img src="images/checkmark.png" class="check" alt="checkmark" />
          </div>

          <a href="signup.html" class="btn-shadow btn-shadow-success align-self-center mt-auto">Sign up free</a>
        </div>
        <div class="plan-col d-flex flex-column">
          <div class="header">
            Agency Plan
            <div class="price">
              $119/mo
            </div>
          </div>
          <div class="spec">
            <img src="images/checkmark.png" class="check" alt="checkmark" />
          </div>
          <div class="spec">
            <img src="images/checkmark.png" class="check" alt="checkmark" />
          </div>
          <div class="spec">
            <img src="images/checkmark.png" class="check" alt="checkmark" />
          </div>
          <div class="spec">
            <img src="images/checkmark.png" class="check" alt="checkmark" />
          </div>
          <div class="spec">
            <img src="images/checkmark.png" class="check" alt="checkmark" />
          </div>
          <div class="spec">
            <img src="images/checkmark.png" class="check" alt="checkmark" />
          </div>
          <div class="spec mb-5">
            <img src="images/checkmark.png" class="check" alt="checkmark" />
          </div>

          <a href="signup.html" class="btn-shadow btn-shadow-success align-self-center mt-auto">Sign up free</a>
        </div>
      </div>

      <div class="message">
        All of our plans come with a 30 day trial with no credit card required, we also offer a <a href="signup.html">free plan</a>.
      </div>

      <div class="faq">
        <div class="header">
          <h3>Frequently Asked Questions</h3>
        </div>
        <div class="questions">
          <div class="row">
            <div class="col-md-6">
              <div class="question">
                <strong>Do I need a card to signup?</strong>
                <p>
                  There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
                </p>
              </div>
              <div class="question">
                <strong>Can I cancel at anytime?</strong>
                <p>
                  There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="question">
                <strong>Can I cancel at anytime?</strong>
                <p>
                  There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
                </p>
              </div>
              <div class="question">
                <strong>Do I need a card to signup?</strong>
                <p>
                  There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 menu">
          <h3>Overview</h3>
          <ul>
            <li>
              <a href="features.html">Features</a>
            </li>
            <li>
              <a href="services.html">Services</a>
            </li>
            <li>
              <a href="pricing.html">Pricing</a>
            </li>
            <li>
              <a href="support.html">Support</a>
            </li>
            <li>
              <a href="blog.html">Blog</a>
            </li>
            <li>
              <a href="blog.html">Coming soon</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 menu">
          <h3>Menu</h3>
          <ul>
            <li>
              <a href="features.html">About us</a>
            </li>
            <li>
              <a href="services.html">Contact us</a>
            </li>
            <li>
              <a href="aboutus.html">Jobs</a>
              <a href="aboutus.html" class="hiring">
                We're hiring!
              </a>
            </li>
            <li>
              <a href="support.html">Portfolio</a>
            </li>
            <li>
              <a href="blog.html">Status</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 menu">
          <h3>Social</h3>
          <ul>
            <li>
              <a href="features.html">Youtube</a>
            </li>
            <li>
              <a href="services.html">Facebook</a>
            </li>
            <li>
              <a href="pricing.html">Twitter</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 newsletter">
          <div class="signup clearfix">
            <p>
              Sign up for the newsletter and we'll inform you of updates, offers and more.
            </p>
            <form>
              <input type="text" name="email" class="form-control" placeholder="Your email address" />
              <input type="submit" value="Sign up" />
            </form>
          </div>
          <a href="#">
            <img src="images/social/social-tw.png" alt="twitter" />
          </a>
          <a href="#">
            <img src="images/social/social-dbl.png" alt="dribbble" />
          </a>
        </div>
      </div>
      <div class="credits">
        <p>Copyright © 2019. React</p>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(function () {
      // enables the pricing tabs
      $tabs = $(".pricing-tabs-section .tab");
      $prices = $(".pricing-tabs-section .price");

      $tabs.click(function () {
        $tabs.removeClass("active");
        $(this).addClass("active");
        var dataPrice = $(this).hasClass("monthly") ? "monthly" : "anually";
        $prices.each(function (index, el) {
          $(el).html($(el).data(dataPrice));
        });
      });
    });
  </script>
</body>
</html>
