<!doctype html>
  <head>
    <title>FoxRoll</title>
    <h1>FoxRoll</h1>
  </head>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
      {% endif %}
  {% endwith %}
  {% block body %}{% endblock %}

  <form method=post enctype=multipart/form-data action="/">
    <p><input type=file name=file>
       <input type=submit value=preview_call>
  </form>
  <br></br>

  <table style="width:100%">
    {% if csv_output %}
      <tr>
      {% for header in csv_output[0] %}
          <th>{{ header }}</th>
      {% endfor %}
      </tr>

      {% for row_data in csv_output %}
        <tr>
        {% for value in row_data.values() %}
          <td style="text-align:center">{{ value }}</td>
        {% endfor %}
        </tr>
      {% endfor %}
    {% endif %}
  </table>
  <br></br>

  <form method="POST" action="/segment_api_call">
  <div>
    <label for="segment_write_key">Segment Write Key: </label>
    <input type="text" id="segment_write_key" name="segment_write_key" value={{ segment_write_key }} required>
  </div>
  <div>
    <label for="user_id_header">What is the column header for the user id? </label>
    <input type="text" id="user_id_header" name="user_id_header" value={{ user_id_header }} required>
  </div>
  <br></br>
  <div>
    <button>Segment API CALL</button>
  </div>
  </form>
  </div>

</html>
