<!doctype html>
  <head>
    <title>FoxRoll</title>
    <h1>FoxRoll</h1>
  </head>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
      {% endif %}
  {% endwith %}
  {% block body %}{% endblock %}

  <script>
  function processFile() {
    // This processes the file upon upload instead of requiring a separate
    // to do it.
    document.getElementById("uploadFile").submit();
  }
  </script>
  <div>
    <form id="uploadFile" method=post enctype=multipart/form-data action="/">
      <label for="uploadFile">Upload CSV file: </label>
      <input type=file name="uploadFile" onchange=processFile()>
    </p>
    </form>
  </div>
  <div>
    <form method="POST" action="/">
    <strong>Or, use our S3 bucket! &nbsp;&nbsp;&nbsp;</strong>
    <i>To get access to the foxroll-csv bucket, just send us a message and we'll give you the permissions ASAP!</i>
    <div>
      <label for="s3_csv_file">Name of the csv file you uploaded to foxroll s3 bucket.</label>
      <input type="text" id="s3_csv_file" name="s3_csv_file" required value={{ s3_csv_file if s3_csv_file else "" }} >
      <div>
        <p>Click the checkmark to use S3 Bucket:
      <input id="s3_bucket" name="s3_bucket" type="checkbox"
      {% if is_checked  %}}
        checked="true"
      {% endif %}
      >
      </p>
      </div>

      <button>Use S3 Bucket</button>

    </div>
    </form>
    <!-- <label for="aws_access_key_id">aws_access_key_id: </label>
    <input type="text" id="aws_access_key_id" name="aws_access_key_id" required value={{ aws_access_key_id if aws_access_key_id else "" }} >

    <label for="aws_access_secret_key_id">aws_access_secret_key_id: </label>
    <input type="text" id="aws_access_secret_key_id" name="aws_access_secret_key_id" required value={{ aws_access_secret_key_id if aws_access_secret_key_id else "" }} >
    <label for="bucket_name">bucket_name: </label>
    <input type="text" id="bucket_name" name="bucket_name" required value={{ bucket_name if bucket_name else "" }} >
    <label for="aws_region">aws_region: </label>
    <input type="text" id="aws_region" name="aws_region" required value={{ aws_region if aws_region else "" }} > -->
    <!-- <button>submit</button> -->
  </div>
  <br></br>
  <style>
  table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
   min-width: 20px;
  }
  </style>

  <table style="width:100%">
    {% if csv_output %}
      <tr>
      {% for header in csv_output[0] %}
          <th>{{ header }}</th>
      {% endfor %}
      </tr>
      <!-- Preview 25 rows of data. -->
      {% for row_data in csv_output[:25] %}
        <tr>
        {% for value in row_data.values() %}
          <td style="text-align:center">{{ value }}</td>
        {% endfor %}
        </tr>
      {% endfor %}
    {% endif %}
  </table>
  <br></br>

  <form method="POST" action="/segment_api_call">
  <div>
    <!-- <input id="s3_bucket" name="s3_bucket"> -->
    <label for="segment_write_key">Segment Write Key: </label>
    <input type="text" id="segment_write_key" name="segment_write_key" required value={{ segment_write_key if segment_write_key else "" }} >
  </div>
  <div>
    <label for="user_id_header">What is the column header for the user id? </label>
    <select name="user_id_header">
      {% for header in csv_output[0] %}
        <option value={{header}}
        {% if header == user_id_header %}
          selected
        {% endif %}
        >{{header}}</option>
      {% endfor %}
    <input type="hidden" id="s3_bucket_checked" name="s3_bucket_checked" required value={{ is_checked }} >
   </div>
  <br></br>
  <div>
    <button>Segment API CALL</button>
  </div>
  </form>
  </div>

  <div>
    {% if success %}
      <h2>Success!</h2>
    {% endif %}
  </div>

</html>
