<!doctype html>
<head>
  <title>FoxRoll</title>
  <h1>FoxRoll</h1>
</head>

<form method=post enctype=multipart/form-data>
  <p><input type=file name=file>
     <input type=submit value=preview_call>
</form>
<br></br>

{% for output in csv_output %}
  <p>{{ output }}</p>
{% endfor %}

<br></br>
    <form method="POST" action="/segment_api_call">
    <div>
      <label for="segment_write_key">Segment Write Key: </label>
      <input type="text" id="segment_write_key" name="segment_write_key" value={{ segment_write_key }} required>
    </div>
    <br></br>
    <br></br>
    <div>
      <button>Segment API CALL</button>
    </div>
    </form>
  </div>

</html>
